### **Import pandas as pd**

In [56]:
import pandas as pd

### **Create a new DataFrame with three columns and three rows**

In [57]:
cars_JSON = {'year': [1997, 2009, 2018], 'make': ['Ford', 'Subaru', 'Chevy'], 'model': ['Ranger', 'Legacy', 'Silverado']}

In [58]:
cars_dataset = pd.DataFrame(cars_JSON)

In [59]:
cars_dataset

   year    make      model
0  1997    Ford     Ranger
1  2009  Subaru     Legacy
2  2018   Chevy  Silverado

### **View the head of the DataFrame**

In [60]:
cars_dataset.head

<bound method NDFrame.head of    year    make      model
0  1997    Ford     Ranger
1  2009  Subaru     Legacy
2  2018   Chevy  Silverado>

### **View the index of the DataFrame**

In [61]:
cars_dataset.index

RangeIndex(start=0, stop=3, step=1)

### **Select and view the first column of the DataFrame**

In [62]:
year_column = cars_dataset[['year']]

In [63]:
year_column

   year
0  1997
1  2009
2  2018

#### ***Once more, as a list***

In [64]:
year_list = cars_dataset['year']

In [65]:
year_list

0    1997
1    2009
2    2018
Name: year, dtype: int64

### **Select and view the first row of the DataFrame**

In [66]:
obs1 = cars_dataset[:1]

In [67]:
obs1

   year  make   model
0  1997  Ford  Ranger

### **Write the DataFrame to a new CSV file saved in your assignment folder**

In [68]:
cars_dataset.to_csv('cars_dataset.csv')

In [69]:
ls

Bobkowski_SystemsCheck.ipynb     cces_example_data.csv
Bobkowski_pandasChallenge.ipynb  in-class-1-29.ipynb
Untitled.ipynb                   subset_cces_example_data.csv
cars_dataset.csv

### **Why are dynamic, interactive data visualizations useful when communicating data?**

Dynamic and interactive data visualizations allow a reader to customize their engagement with the data. A reader may choose to view the data only at the most superficial level, at a granular level, or somewhere in between. The customizability of a reader's experience with the data means that an interactive data visualization has the potential to engage a larger audience than a static visualization would, from those who otherwise would not pay attention to the data to those who are seeking detailed answers to questions the data addresses (Murray, 2017).